$button-color: #2EC1FF;
$button-hover-color: #0f5373;
$main-background-color: #051c3e;
$back-background-color: rgba(48, 49, 126, 0.2);
$main-font: 'Roboto', sans-serif;
$font-size:12px;
$main-font-color: #FFF;
