.navigation
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  background-color: $main-background-color;
  width: 10%;
  margin: 0;
  padding: 0;
  height: 100vh;
  border-right: 1px solid $button-hover-color;
}
.navigation__item
{
  display:flex;
  width:100%;
  border-bottom: 1px solid $button-hover-color;
  border-radius:5px;
  :hover
  {
    background-color: #072753;
  }
  a{
    @include mainFont($font-size);
    text-transform: uppercase;
    font-weight:bold;
    text-align:left;
    padding: 50px 10px;
    width:100%;
    display:block;
  }
}

